In [1]:
#from urllib.request import urlopen

In [2]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\hp pc\anaconda3\envs\tensorflow\lib\site-packages (4.11.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: soupsieve>1.2 in c:\users\hp pc\anaconda3\envs\tensorflow\lib\site-packages (from BeautifulSoup4) (2.3.2.post1)

In [3]:
##import libraries

from bs4 import BeautifulSoup
import requests
#import smtplib
#import time
#import datetime

In [4]:
##connect to your website

url = 'https://www.amazon.com/funny-analyst-definition-scientist-t-shirt/dp/B07NLP2PKY/ref=sr_1_3?crid=2J7HYSHWYNOH7&keywords=data%2B%2B%2Banalyst%2B%2B%2Btshirt&qid=1651666467&sprefix=data%2B%2B%2Banalyst%2B%2B%2Btshirt%2Caps%2C379&sr=8-3&customId=B0752XJYPK&th=1&psc=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36", "Accept-Encoding": "gzip, deflate", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT": "1", "Connection": "close", "Upgrade-Insecure-Requests": "1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price = soup2.find(id='corePrice_desktop').get_text()

print(title)

print(price)

                   funny data analyst definition data scientist T-Shirt






                   Price:




                     $19.99


                     $19.99

In [5]:
Price = price.strip()[-5:]
Product = title.strip()

print(Product)
print(Price)

type(Price)

funny data analyst definition data scientist T-Shirt
19.99

str

In [6]:
#putting a timestamp for the data collection
import datetime

today = datetime.date.today()

print(today)

2022-05-09

In [7]:
import csv

header = ['Product', 'Price', 'Date']
data = [Product, Price, today]

with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [8]:
import pandas as pd
data_df = pd.read_csv(r'C:\Users\HP PC\JUPYTER PROJECTS\My projects\AmazonWebScraperDataset.csv')
data_df

                                             Product  Price        Date
0  funny data analyst definition data scientist T...  19.99  2022-05-09

In [11]:
##appending data to the csv

import csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [12]:
data_df = pd.read_csv(r'C:\Users\HP PC\JUPYTER PROJECTS\My projects\AmazonWebScraperDataset.csv')
data_df

                                             Product  Price        Date
0  funny data analyst definition data scientist T...  19.99  2022-05-09
1  funny data analyst definition data scientist T...  19.99  2022-05-09
2  funny data analyst definition data scientist T...  19.99  2022-05-09

In [13]:
#automating 

def check_price():
    url = 'https://www.amazon.com/funny-analyst-definition-scientist-t-shirt/dp/B07NLP2PKY/ref=sr_1_3?crid=2J7HYSHWYNOH7&keywords=data%2B%2B%2Banalyst%2B%2B%2Btshirt&qid=1651666467&sprefix=data%2B%2B%2Banalyst%2B%2B%2Btshirt%2Caps%2C379&sr=8-3&customId=B0752XJYPK&th=1&psc=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36", "Accept-Encoding": "gzip, deflate", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT": "1", "Connection": "close", "Upgrade-Insecure-Requests": "1"}

    page = requests.get(url, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price = soup2.find(id='corePrice_desktop').get_text()
    
    Price = price.strip()[-5:]
    Product = title.strip()
    
    import datetime

    today = datetime.date.today()

    header = ['Product', 'Price', 'Date']
    data = [Product, Price, today]
    
    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
# setting automation time to every 5 seconds

import time

while(True):
    check_price()
    time.sleep(5)

In [ ]:
import pandas as pd
data_df = pd.read_csv(r'C:\Users\HP PC\JUPYTER PROJECTS\My projects\AmazonWebScraperDataset.csv')
data_df